node_modules
.env
# Ignore virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so


# IDE/editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs and dumps
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/